.buttonform{
    margin-top: 10px;
    border-radius: 10px;
    align-self: center;
    color: blue;
}

.headingform{
    font-size: xx-large;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.divform{
    margin-top: 180px;
}